body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    border-bottom: 5px solid white;
}

.navbar .logo img {
    width: 150px;
    border-radius: 40px;
    border: 2px solid black;
    background-color: white;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar nav ul li {
    margin: 0 15px;
    margin-top: 30px;
    border-right: 1px solid black;
}

.navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 27px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
    color: white;
}

.login-carrinho {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.login {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: white;
}
.login a{
    color: white;
    padding: 10px;
}

.login img {
    width: 60px;
    margin-right: 10px;
    background-color: white;
    border-radius: 900px;
}

.carrinho img {
    width: 60px;
    background-color: white;
    border-radius: 100px;
}
.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.banner img {
    width: 100%;
    height: auto;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: white;
}
.info img{
    width: 100px;
}

.info h2 {
    margin-left: 10px;
}
.categorias {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
    justify-content: space-evenly;
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.categoria a {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4f4f4;
    transition: transform 0.3s, background-color 0.3s;
}

.categoria img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s;
}

.categoria p {
    margin: 10px 0 0;
    font-size: 14px;
    text-align: center;
}

.categoria:hover a {
    background-color: white;
    transform: scale(1.1);
}

.categoria:hover img {
    transform: scale(1.1);
}
.product {
    padding: 10px;
    background-color: black;
    text-align: center;
    margin-bottom: 50px;
}

.product h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
}

.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto {
    width: 30%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: black;
}

.produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produto img {
    width: 100%;
    height: auto;
}

.produto p {
    margin: 10px;
    font-size: 18px;
    color: white;
    background-color: black;
    
}

.produto a {
    text-decoration: none;
}
hr {
    width: 90%;
    border-top: 1px dashed #8c8b8b;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0C090A;
    color: white;
    border-top: 2px solid white;
}

footer p {
    font-size: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a img {
    margin: 0 5px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
  }


.aot{
    width: 120px;
    margin-right: 20px;
}


  @media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .logo {
        display: none;
    }

    .navbar nav ul {
        width: 100%;
        align-items: center;
        display: flex;
        font-size: 5px;
        margin-top: 15px;
        flex-direction: row;
    }

    .navbar nav ul li a{
        font-size: 20px;
        padding-right: 20px;
        white-space: nowrap;
        flex-direction: row;
        border-bottom: 1px solid white;
      }
    .navbar nav ul li{
        border: none;
        margin: 4px 0;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;
    }

    .login-carrinho {
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 0;
    }

    .login {
        margin-right: 10px;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .login img{
        width: 50px;
    }

    .carrinho img{
        width: 50px;
    }

    .info img{
        display: flex;
        width: 30px;

    }
    .info h2 {
        font-size: 12px;
        padding-left: 10px;
    }

    .produtos {
        flex-direction: column;
        align-items: center;
    }

    .produto {
        width: 60%;
    }
    .categoria a{
        width: 100px;
        height: 100px;
    }

    .categoria img {
        height: 100px;
        width: 80px;
    }

    .aot {
        margin-left: 20px;
    }


}